{% extends 'base/base.html' %}

{% block title %}Actualizar Material{% endblock %}

{% block content %}
<div class="container-edit-material my-5">
    <h2 class="text-center mb-4">Actualizar Material</h2>
    <form method="POST" action="{% url 'update_material' material.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" value="{{ material.nombre }}" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" class="form-control">{{ material.descripcion }}</textarea>
        </div>
        <div class="form-group">
            <label for="unidad_medida">Unidad de Medida</label>
            <input type="text" name="unidad_medida" id="unidad_medida" class="form-control" value="{{ material.unidad_medida }}" required>
        </div>
        <div class="form-group">
            <label for="cantidad_disponible">Cantidad Disponible</label>
            <input type="number" step="0.01" name="cantidad_disponible" id="cantidad_disponible" class="form-control" value="{{ material.cantidad_disponible }}" required>
        </div>
        <div class="form-group">
            <label for="stock_minimo">Stock Mínimo</label>
            <input type="number" step="0.01" name="stock_minimo" id="stock_minimo" class="form-control" value="{{ material.stock_minimo }}" required>
        </div>
        <button type="submit" class="btn btn-warning">Actualizar Material</button>
    </form>
    
</div>
{% endblock %}
