body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.role {
    color: #6c757d;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.edit-user-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
}

.form-user {
    margin-bottom: 15px;
}

.form-user label {
    font-weight: bold;
}

.form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-primari {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primari:hover, .btn-secondary:hover {
    opacity: 0.9;
}


.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    margin: 5px 0;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}