{% extends 'base/base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Lista de Tickets</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'crear_ticket' %}" class="btn btn-primary">Crear Ticket</a>
    </div>
    
    <table class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Solicitante</th>
                <th>Estado</th>
                <th>Material Solicitado</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.fecha }}</td>
                <td>{{ ticket.usuario }}</td>
                <td>{{ ticket.estado }}</td>
                <td>{{ ticket.material_solicitado }}</td>
                <td>{{ ticket.cantidad }}</td>
                <td>
                    <a href="{% url 'ver_ticket' ticket.id %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'eliminar_ticket' ticket.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este ticket?');">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay tickets disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
