{% extends 'Modulo_usuario/base/base.html' %}

{% block title %}Historial de Movimientos{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Historial de Movimientos</h2>

    <!-- Formulario de filtros -->
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <label for="startDate">Fecha de Inicio:</label>
                <div class="input-group">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                <input type="date" id="startDate" name="startDate" value="{{ start_date|date:'d-m-Y' }}" class="form-control datepicker">
                </div>
            </div>
            <div class="col-md-3">
                <label for="endDate">Fecha de Fin:</label>
                <div class="input-group">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                <input type="date" id="endDate" name="endDate" value="{{ end_date|date:'d-m-Y' }}" class="form-control datepicker">
                </div>
            </div>
            <div class="col-md-3">
                <label for="tipoMovimiento">Tipo de Movimiento:</label>
                <select id="tipoMovimiento" name="tipoMovimiento" class="form-control">
                    <option value="">Todos</option>
                    <option value="Entrada" {% if tipo_movimiento|lower == 'entrada' %}selected{% endif %}>Entrada</option>
                    <option value="Salida" {% if tipo_movimiento|lower == 'salida' %}selected{% endif %}>Salida</option>
                    <option value="Cobrado" {% if tipo_movimiento|lower == 'cobrado' %}selected{% endif %}>Cobrado</option>
                </select>
            </div>
            
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100">Filtrar</button>
            </div>
        </div>
    </form>

    <!-- Tabla de movimientos -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Material</th>
                <th>Cantidad</th>
                <th>Tipo de Movimiento</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.fecha_creacion|date:"d-m-Y " }}</td>
                <td>{{ movimiento.material_solicitado.nombre }}</td>
                <td>{{ movimiento.cantidad }}</td>
                <td>{{ movimiento.estado }}</td>
                <td>{{ movimiento.estado|title }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No se encontraron movimientos</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#startDate", {
            dateFormat: "d-m-Y",
            allowInput: true,
            altInput: true,
            altFormat: "d-m-Y",
            locale: "es"
        });

        flatpickr("#endDate", {
            dateFormat: "d-m-Y",
            allowInput: true,
            altInput: true,
            altFormat: "d-m-Y",
            locale: "es"
        });
    });
</script>
{% endblock %}
