{% extends 'Modulo_usuario/base/base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Panel de Reportes</h2>

    <!-- Formulario para generar reportes -->
    <form id="reportForm" onsubmit="generateReport(event)">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="reportType">Tipo de Reporte</label>
            <select id="reportType" name="reportType" class="form-control">
                <option value="Movimientos de stock">Movimientos de Stock</option>
                <option value="Inventario Actual">Inventario Actual</option>
                <option value="Alertas de Stock bajo">Alertas de Stock Bajo</option>
            </select>
        </div>
        <div class="form-group mb-3" id="dateRange">
            <label for="startDate">Fecha de Inicio</label>
            <input type="date" id="startDate" name="startDate" class="form-control">
        </div>
        <div class="form-group mb-3" id="dateRangeEnd">
            <label for="endDate">Fecha de Fin</label>
            <input type="date" id="endDate" name="endDate" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Generar Reporte</button>
    </form>
    <a id="exportToPDF" href="#" class="btn btn-danger mt-3">Exportar a PDF</a>
    <a id="exportToExcel" href="#" class="btn btn-success mt-3">Exportar a Excel</a>


    <div class="container mt-5">
        <h3 class="text-center">Gráfico de Reportes</h3>
        <canvas id="reportChart" width="400" height="200"></canvas>
    </div>
    <!-- Vista Previa del Reporte -->
    <div id="reportPreview" class="mt-5"></div>
</div>
{% endblock %}
