{% extends 'base/base.html' %}

{% load static %}

{% block title %}Inventario{% endblock %}

{% block content %}
<div class="container">
    <h1>Inventario de Materiales</h1>
    <p>Bienvenido a la sección de inventario. Aquí puedes gestionar todos los materiales.</p>
    
    <div class="card-container">
        <div class="card">
            <div class="card-content">
                <i class="fas fa-warehouse fa-3x"></i>
                <h3>Lista de Materiales</h3>
                <p>Consulta la lista completa de materiales disponibles.</p>
                <a href="{% url 'lista_view' %}" class="card-link">Ver Lista de Materiales</a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-content">
                <i class="fas fa-plus fa-3x"></i>
                <h3>Agregar Material</h3>
                <p>Agrega nuevos materiales al inventario.</p>
                <a href="{% url 'add_material' %}" class="card-link">Agregar Material</a>
            </div>
        </div>

       
        <div class="card">
            <div class="card-content">
                <i class="fas fa-file-alt fa-3x"></i>
                <h3>Solicitar Retiro</h3>
                <p>Solicita materiales para retiro.</p>
                <a href="{% url 'crear_ticket' %}" class="card-link">Solicitar Retiro</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
